<script setup lang="ts">
import { ref } from 'vue'

const props = defineProps({
  count: {
    default: 0,
  },
})

const counter = ref(props.count)
</script>

<template>
  <div>
    <input type="text" />
  </div>
</template>

<style scoped>
  input {
    all: revert;
  }
</style>
